<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<!-- add dll path-->
	<!-- https://stackoverflow.com/questions/1892492/set-custom-path-to-referenced-dlls -->
	<!-- https://docs.microsoft.com/en-us/previous-versions/dotnet/netframework-1.1/4191fzwb(v=vs.71)?redirectedfrom=MSDN -->
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<probing privatePath="dlls" />
		</assemblyBinding>
	</runtime>
</configuration>