<?xml version="1.0" encoding="utf-8" ?>
<nlog
  xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<extensions>
		<add assembly="NLOG.Slack"/>
	</extensions>

	<targets>
		<target name="first" xsi:type="MyFirst" includeEventProperties="true">
			<contextproperty name="MachineName" layout="${machinename}" />
			<contextproperty name="ThreadId" layout="${threadid}" />
		</target>
		<target
		  xsi:type="File"
		  name="f"
		  fileName="${basedir}/logs/${shortdate}.log"
		  layout="${longdate}|${level:uppercase=true}|${logger}|${message}" />
	</targets>
	<rules>
		<logger name="*" minlevel="Debug" writeTo="f" />
		<logger name="*" minlevel="Debug" writeTo="first" />
	</rules>
</nlog>